* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body style */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header styles */
h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  animation: fadeInDown 1s ease both;
}

/* Paragraph style */
p {
  font-size: 24px;
  margin-bottom: 30px;
  animation: fadeInUp 1s ease both;
}

/* Form styles */
form {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease both;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #fff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #6a11cb;
  font-size: 16px;
  transition: background 0.3s, border-color 0.3s;
}

form input::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Off white color for placeholder text */
}

form input:focus {
  background: rgba(255, 255, 255, 0.3);
  border-color: #6a11cb;
  outline: none;
}

form button {
  width: 100%;
  padding: 10px;
  background: #5a67d8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

form button:hover {
  background: #434190;
}

/* Navigation styles */
ul {
  list-style: none;
  display: flex;
  gap: 20px;
  animation: fadeIn 1s ease both;
}

ul li {
  margin: 0;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 24px;
  border: 2px solid #fff;
  border-radius: 50px;
  transition: background 0.3s, color 0.3s;
}

ul li a:hover {
  background: #fff;
  color: #6a11cb;
}

.tasks-list {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  list-style: none;
  color: #fff;
  font-size: 16px;
  animation: fadeIn 1s ease both;
  display: block;
  float: left;
}

.tasks-list li {
  align-items: center;
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
